@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.cs-main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  border: solid 1px #d1dbe3;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  font-size: 1rem;
  font-family: Inter, sans-serif;
}

.cs-message-group__header {
  box-sizing: border-box;
  display: flex;
  font-size: 0.8em;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  margin: 0 0 0.2em 0;
  padding: 0;
}
.cs-message-group__footer {
  box-sizing: border-box;
  display: flex;
  font-size: 0.8em;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  margin: 0.2em 0 0 0;
  padding: 0;
}

.cs-message-separator {
  box-sizing: border-box;
  color: #6ea9d7;
  background-color: #fff;
  font-size: 0.8em;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.cs-conversation-header {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f6fbff;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1em;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-top: solid 0px #d1dbe3;
  border-right: solid 0px #d1dbe3;
  border-bottom: solid 1px #d1dbe3;
  border-left: solid 0px #d1dbe3;
  padding: 0.6em 0.9em;
}

.cs-conversation {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  padding: 0.675em 0.8em 0.675em 0.8em;
  cursor: pointer;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.cs-message {
  box-sizing: border-box;
  font-size: 1em;
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0;
}

.cs-message__content {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c6e3fa;
  margin-top: 0;
  padding: 0.6em 0.9em;
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 0.91em;
  font-variant: normal;
}

.cs-message-input__content-editor {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #c6e3fa;
  font-family: Inter, sans-serif;
  outline: 0;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  overflow: visible;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.cs-typing-indicator {
  box-sizing: content-box;
  font-size: inherit;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@keyframes slideInOut {
  0% {
    right: -500px;
    opacity: 1;
  }
  10% {
    right: 20px;
    opacity: 1;
  }
  90% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: -500px;
    opacity: 1;
  }
}

.alert-box {
  position: fixed;
  top: 50px;
  right: -500px;
  animation: slideInOut 4s ease-in-out forwards;
}
